<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath*:employee.properties" />
	</bean>

	<bean name="me" class="com.spring.by.example.domain.Employee" p:firstName="${me.firstName}"
		p:lastName="${me.lastName}" p:position="${me.position}" p:role="${me.role}"
		p:technology="${me.technology}" p:field="${me.field}" p:buddySet-ref="myBuddySet" />

	<bean name="eugene" class="com.spring.by.example.domain.Employee"
		p:firstName="${eugene.firstName}" p:lastName="${eugene.lastName}"
		p:position="${eugene.position}" p:role="${eugene.role}" p:technology="${eugene.technology}"
		p:field="${eugene.field}" p:buddySet-ref="eugeneBuddySet" />

	<bean name="myBuddySet" class="java.util.HashSet">
		<constructor-arg>
			<set>
				<ref bean="eugene" />
			</set>
		</constructor-arg>
	</bean>
	<bean name="eugeneBuddySet" class="java.util.HashSet">
		<constructor-arg>
			<set>
				<ref bean="me" />
			</set>
		</constructor-arg>
	</bean>
</beans>
